.hero{
    padding-top: 6vh;
    padding-bottom: 12vh;
    background-image: url(../img/background-motorcycle.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;

    &::before{
        position: absolute;
        background-image: linear-gradient(0deg, #19150e, transparent);
        background-color: rgba(0, 0, 0, .6);
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__container{
        position: relative;
        max-width: 1080px;
        width: 100%;
        margin: 0 auto;

        img{
            height: 256px;
            display: block;
            margin: 0 auto;
        }

        p{
            margin-top: 4vh;
            text-align: center;
            font-size: 40px;
            font-family: 'Permanent Marker', cursive;

            span{
                font-weight: 700;
            }
        }

        &__barra{
            margin-top: 4vh;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 24px 32px;
            border-radius: 16px;
            box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, .9);

            .info{
                display: flex;
                gap: 4vw;
                list-style: none;

                &__item{
                    color: #000;

                    b{
                        color: #000;
                        display: block;
                    }
                }
            }
        }
    }
}